<div class="post-screen d-flex flex-column mb-3 p-3">
        <div class="username-div d-flex justify-content-between">
            <div>
            <h4 class="username">Post by <a href="/home/users/{{user_id}}">{{user.username}}</a></h4>
            </div>
            <div class="d-flex flex-row">
            <button class="btn px-3 d-flex justify-content-center align-items-center mx-2 edit-button" style="background-color: #33333319; width: 30px; height: 30px;" data-post="{{id}}" data-bs-toggle="modal" data-bs-target="#exampleModalCenter"><i class="bi bi-pen"></i></button>
            <button class="buttons btn btnB px-3 d-flex justify-content-center align-items-center delete-button" style="width: 30px; height: 30px;" data-post="{{id}}"><i class="bi bi-trash"></i></button>
            </div>
        </div>
    <div class="post-details-div mt-2 d-flex flex-column">
        <div class="post-title-div d-flex justify-content-between">
            <h3 class="post-title col-9" id="title-{{id}}" data-postid="{{id}}">{{post_title}}</a></h3>
            <p class="col-3" style="font-size: 13px; text-align: right;">{{post_date}}</p>
        </div>
        <div class="post-description-div p-2 rounded">
            <p class="post-description" id="description-{{id}}" data-postid="{{id}}">{{post_description}}</p>
        </div>
    </div>
</div>