
        <section id="post-sect" class="d-flex flex-column w-50 m-auto mt-3 p-3 rounded">
            <div id="post-screen">
                <div class="user-div">
                    <div class="username-div">
                        <h4 class="username"><a href="/home/users/{{mappedPost.user_id}}">{{mappedPost.user.username}}</a></h4>
                    </div>
                </div>
                <div id="post-details-div" class="mb-4">
                    <div id="post-title-div">
                        <h3 data-postid="{{mappedPost.id}}" id="post-title">{{mappedPost.post_title}}</h3>
                    </div>
                    <div id="post-description-div" class="post-description-div p-2 rounded">
                        <p id="post-description">{{mappedPost.post_description}}</p>
                    </div>
                </div>
            </div>
            <div id="comment-screen" class="py-3">
                {{#if userInfo}}
                <div class="commenter-username-div">
                    <button id="new-comment-button" class="btn px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #33333319;">
                    <h4 class="commenter-username" style="font-size: 17px;">Comment as <b>{{userInfo.username}}</b></h4>
                    </button>
                </div>
                <div class="collapse mt-1" id="collapseExample">
                        <div class="commenter-form-div">
                    <form id="commenter-form">
                        <textarea type="text" id="comment-input" class="form-control"
                        aria-label="search" placeholder="What are your thoughts?" style="height: 110px;"></textarea>
                    </form>
                </div>
                <div id="comment-button-div" class="d-flex justify-content-center">
                    <button id="comment-button" class="col-6 mt-1 buttons btn btnB px-3">Post Comment</button>
                </div>
                </div>
                {{else}}
                <div class="commenter-username-div">
                    <button id="new-comment-button" class="btn px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="background-color: #33333319;">
                    <h4 class="commenter-username" style="font-size: 17px;">Log in to comment</h4>
                    </button>
                </div>
                {{/if}}                
            </div>
            <section id="comment-section">
                {{#each mappedPost.comments as |comment|}}
                {{> comment-partial}}
                {{/each}}
          </section>
        </section>
        <script src="/js/post.js"></script>