
        <section id="post-sect">
            <div id="post-screen">
                <div class="user-div">
                    <div class="username-div">
                        <h4 class="username"><a href="/home/users/{{mappedPost.user_id}}">{{mappedPost.user.username}}</a></h4>
                    </div>
                </div>
                <div id="post-details-div">
                    <div id="post-title-div">
                        <h3 data-postid="{{mappedPost.id}}" id="post-title">{{mappedPost.post_title}}</h3>
                    </div>
                    <div id="post-description-div">
                        <p id="post-description">{{mappedPost.post_description}}</p>
                    </div>
                </div>
            </div>
            <div id="comment-screen">
                <div class="commenter-username-div">
                    <h4 class="commenter-username">Comment as <a id="your-username" href="/home/users/{{user.user_id}}">{{user.username}}</a></h4>
                </div>
                <div class="commenter-form-div">
                    <form id="commenter-form">
                        <input type="text" id="comment-input" placeholder="What are your thoughts?">
                    </form>
                </div>
                <div id="comment-button-div">
                    <button id="comment-button">Post Comment</button>
                </div>
            </div>
            <section id="comment-section">
                {{#each mappedPost.comments as |comment|}}
                {{> comment-partial}}
                {{/each}}
          </section>
        </section>
        <script src="/js/post.js"></script>